body{
    display: grid;
}

.red_square{
    display: inline-block;
    flex-direction: row;
    height: 50px;
    width: 50px;
    background-color: red;
}

.blue_square{
    display: inline-block;
    flex-direction: column;
    height: 50px;
    width: 50px;
    background-color: blue;
}