
main

.fights-container{

}

.fight{

}

.my_soldier{
    background-color:green;
    height:20px;
    width:20px;
}

.hedge{

}

.enemies_down{

}

.enemy_soldier{
    background-color: red;
    height:20px;
    width:20px;
}